APP_PORT=8080

POSTGRES_DB=tasky
POSTGRES_USER=tasky
POSTGRES_PASSWORD=tasky
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=tasky-local
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
